{% extends 'base.html' %}
{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <img src="/static/glacier/visuel1.jpg"/>
            <br/>
            Le restaurant Le Glacier vous accueille dans une ambiance chaleureuse et épurée et met à
            votre disposition les spécialités méditerranéennes, les coquillages, les poissions et les crustacés.<br/>
            <br/>
            Rejoignez-nous afin de célébrer ensemble les plaisirs de la table !
        </div>
        <div class="column">
            {% include 'actu.html' with actu=actu %}
        </div>
    </div>
{% endblock %}