{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="ui {% if event %}stackable two column{% else %}page{% endif %} grid">
        <div class="column">
            Le restaurant Le Glacier vous accueille dans une ambiance chaleureuse et épurée et met à
            votre disposition les spécialités méditerranéennes, les coquillages, les poissions et les crustacés.<br/>
            <br/>
            Rejoignez-nous afin de célébrer ensemble les plaisirs de la table ! <br/>


            <br/>

        </div>
            <div class="column">
                <img style="width:100%" src="{% static 'glacier/poissons.jpg' %}"/>

            </div>
        {% include 'logos.html' %}
    </div>
{% endblock %}