{% extends 'base.html' %}
{% block content %}
    <div class="ui page grid">

        <div class="column">
            <div class="ui list">
                <div class="item">
                    <div class="content">
                        Les Entrées
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        Carte des Poissons
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        Menu passion
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        Menu tout autour du homard
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        Menu Délice du pêcheur
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        Carte des desserts maison
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}