{% extends 'base.html' %}
{% block content %}
    <div class="ui stackable two column grid">
        <div class="column">
            <p>Le glacier vous propose les services suivants:
            <ul>
                <li>Repas en terrasse ou en salle climatisée.</li>
                <li>Accès wifi</li>
                <li>Accessible aux personnes à mobilité réduite</li>
            </ul>

            </p>
            <p>
                Pour l'organisation d'une reception pour un événement privé,
                un lancement de produit, un repas d'affaires, une réunion,
                notre équipe vous proposera la solution la mieux adaptée.
            </p>

            <p>
                La privatisation partielle ou totale du restaurant est
                possible en fonction de la préstation.
            </p>

            <p>
                Le restaurant vous propose à emporter:
            <ul>
                <li>plateaux de coquillages (voir carte)</li>
                <li>soupe de poissons.</li>
            </ul>
            </p>
        </div>
        <div class="column">
            <img class="image" src="/static/glacier/Homar2700g.jpg"/>
        </div>

    </div>

    </div>
{% endblock %}