<div class="column">

    <div>
        Retrouvez nous sur facebook<br/>
        <a style="text-decoration: none;" href="https://www.facebook.com/leglaciermarseillan?fref=ts"><i
                class="blue inverted large facebook circular icon"></i></a>
    </div>
    <div id="TA_excellent957" class="TA_excellent">
        <ul id="9AvAxgAc4mv" class="TA_links STLqJf">
            <li id="CYorSJd" class="nt4zP17">
                <a target="_blank" href="http://www.tripadvisor.fr/"><img
                        src="http://c1.tacdn.com/img2/widget/tripadvisor_logo_115x18.gif" alt="TripAdvisor"
                        class="widEXCIMG" id="CDSWIDEXCLOGO"/></a>
            </li>
        </ul>
    </div>
    <script src="http://www.jscache.com/wejs?wtype=excellent&amp;uniq=957&amp;locationId=2286741&amp;lang=fr&amp;langversion=2"></script>
</div>