<div class="column">

    <div id="TA_cdswritereviewlg949" class="TA_cdswritereviewlg">
        <ul id="oLmWk6ZK" class="TA_links kLidiN">
            <li id="C5o3FvGQ1" class="kp2Rrkp">
                <a target="_blank" href="http://www.tripadvisor.fr/"><img
                        src="http://www.tripadvisor.fr/img/cdsi/img2/branding/medium-logo-12097-2.png"
                        alt="TripAdvisor"/></a>
            </li>
        </ul>
    </div>
    <script src="http://www.jscache.com/wejs?wtype=cdswritereviewlg&amp;uniq=949&amp;locationId=2286741&amp;lang=fr&amp;border=true&amp;langversion=2"></script>
</div>